<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messanger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="XOXA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Messanger">
        <activity
            android:name=".chat"
            android:exported="true" />
        <activity
            android:name=".addMembers"
            android:exported="true" />
        <activity
            android:name=".USERNAME"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignIn"
            android:exported="true"
            android:label="Sign In"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>